(
    name: "ps1_wobble",
    vertex_shader: "assets/shaders/mesh.vert",
    fragment_shader: "assets/shaders/mesh.frag",
    post_fragment_shader: "assets/shaders/post_composite.frag",
    render: (
        resolution_scale: 0.18,
        fixed_resolution: None,
        fog_color: (0.05, 0.05, 0.08),
        fog_start: 2.5,
        fog_end: 10.0,
        color_levels: 16,
        dither_strength: 0.2,
        lighting_mode: VertexLit,
        ambient_color: (0.2, 0.2, 0.25),
        vertex_snap_amount: 0.06,
        affine_texture_mapping: true,
        texture_filter: Nearest,
    ),
)