(
    name: "Purple",
    vertex_shader: "assets/shaders/mesh.vert",
    fragment_shader: "assets/shaders/mesh.frag",
    post_fragment_shader: "assets/shaders/post_composite.frag",
    render: (
        resolution_scale: 0.35,
        fixed_resolution: None,
        fog_color: (0.08000002, 0.08, 0.12),
        fog_start: 0.0,
        fog_end: 10.0,
        color_levels: 35,
        dither_strength: 0.1,
        lighting_mode: VertexLit,
        ambient_color: (0.45454568, 0.45454544, 1.0),
        light_dir: (0.4, 0.8, 0.5),
        vertex_snap_amount: 0.005,
        affine_texture_mapping: false,
        texture_filter: Nearest,
        sky_horizon_color: (0.37867936, 0.23231581, 0.46632734),
        sky_zenith_color: (0.13950904, 0.036136556, 0.25480908),
        backface_culling: true,
    ),
)